{
    "general": {
        "game_name"          : "Boxing-v0",
        "state_shape"        : [64, 64, 3],
        "crop_range"         : "[30:183, 28:131, :]"
    },
    "vae_training": {
        "batch_size"         : 256,
        "latent_space_dim"   : 16,
        "epochs"             : 300,
        "learning_rate"      : 0.001,
        "patience"           : 5,
        "ckpt_path"          : "./checkpoints/best_vision.ckpt",
        "logs_dir"           : "./logs"
    },
    "rnn_training": {
        "batch_size"         : 128,
        "sequence_len"       : 1000,
        "terminal_prob"      : 0.2,
        "hidden_units"       : 256,
        "epochs"             : 30,
        "learning_rate"      : 0.001,
        "patience"           : 10,
        "rend_n_rollouts"    : 15,
        "rend_n_episodes"    : 16,
        "rend_step"          : 4,
        "gamma"              : 1.0,
        "ckpt_prefix"        : "./checkpoints/best_memory",
        "logs_dir"           : "./logs"
    },
    "ctrl_play": {
        "iterations"         : -1,
        "n_episodes"         : 128,
        "min_examples"       : 256,
        "done_threshold"     : 0.5,
        "exp_replay_size"    : 10000,
        "save_data_path"     : "./checkpoints/data.examples"
    }
}