{
    "neural_net": {},
    "planner": {},
    "storage": {
        "big_bag_size"   : 1000,
        "store_dir"      : "transitions",
        "store_filename" : "big_bag.examples",
        "load_dir"       : "transitions",
        "load_filename"  : "big_bag.examples"

    },
    "train": {
        "game"                     : "connect4",
        "update_threshold"         : 0.55,
        "max_iter"                 : 10,
        "save_checkpoint_folder"   : "checkpoints",
        "save_checkpoint_filename" : "best_net",
        "n_self_plays"             : 20,
        "n_tournaments"            : 10
     }
}